<?xml version="1.0" encoding="UTF-8"?>

<!--
  PHPTypeSafe

  Copyright (C) 2008  Max Horvath <info@maxhorvath.com>.

  This file is part of PHPTypeSafe.

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Lesser General Public License for more details.

  You should have received a copy of the GNU Lesser General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.

  SVN: $Id$
-->

<cruisecontrol>

    <project name="phptypesafe" buildafterfailed="false">
        <plugin name="svn" classname="net.sourceforge.cruisecontrol.sourcecontrols.SVN" />

        <listeners>
            <currentbuildstatuslistener file="logs/${project.name}/status.txt" />
        </listeners>

        <modificationset quietperiod="60">
            <svn localWorkingCopy="checkout/${project.name}" />
        </modificationset>

        <schedule interval="120">
            <ant anthome="/usr/share/ant"
                 buildfile="build-phptypesafe.xml"
                 target="build"
                 uselogger="true"
                 usedebug="false" />
        </schedule>

        <log logdir="logs/${project.name}">
            <merge dir="checkout/${project.name}/build/logs" />
        </log>

        <publishers>
            <currentbuildstatuspublisher file="logs/${project.name}/buildstatus.txt" />

            <artifactspublisher dir="checkout/${project.name}/build/api" dest="artifacts/${project.name}" subdirectory="api" />
            <artifactspublisher dir="checkout/${project.name}/build/coverage" dest="artifacts/${project.name}" subdirectory="coverage" />

            <execute command="/usr/local/src/phpUnderControl/bin/phpuc.php graph logs/${project.name} artifacts/${project.name}" />
        </publishers>
    </project>

</cruisecontrol>